body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#workspace {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
}

#pan-zoom-rotate {
    width: 80%;
    height: 80%;
    background-image: url('../img/workspace-background-tile.2.jpg');
    background-repeat: repeat;
    transform-origin: center center;
}
